@charset "UTF-8";
/* CSS Document */

p {
  opacity: 0.6;
}

body {
  margin: 0;
  background: #000; !important
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background-attachment: fixed;
 background: url("/allianceofhope/images/polina.png") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
vertical-align:middle;
color: white;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

#polina button:hover {
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
.navbartiptop {
}
@media only screen and (max-width: 500px) {
  div{width:70%;}
}
@media only screen and (max-device-width: 800px) {
  body { background: url('allianceofhope/images/polina.png') #000 no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
  #bgvid { display: none;
    position: fixed;}
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
}
